body {
    background-color: #121212 !important; /* Dark background */
    color: #ffffff !important; /* White text */
}

a {
    color: #1e90ff !important; /* Light blue links */
}
/* Change heading colors */
h1 {
    color: #ffffff !important; /* white */
}
/* Change the color of all H2 headings */
h2 {
    color: #ffffff !important; /* Yellow */
}
/* Make header disappear on scroll */
header {
    transition: opacity 0.3s ease-in-out;
}
/* This will make the header disappear when scrolling down */
header.hide {
    opacity: 0;
    pointer-events: none;
}
/* Make the logo circular */
header img {
    width: 200px;  /* Adjust size if needed */
    height: 200px; /* Ensure it's a circle */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* Ensures the image fills the circular area */
}
