body {
    background-color: #121212 !important; /* Dark background */
    color: #ffffff !important; /* White text */
}

a {
    color: #1e90ff !important; /* Light blue links */
}

/* Change heading colors */
h1 {
    color: #ffffff !important; /* Pink */
}
/* Hide header (title, logo, description) on scroll */
header {
    transition: opacity 0.3s ease-in-out;
}

header.hide {
    opacity: 0;
    pointer-events: none;
}

